#footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left: 5%;
    right: 5%;
}
#Header{
    font-size:25px;
    padding: 15px;
    font-weight: 900;
    color: cornflowerblue;
}
#dot{
    color: black;
}
#js{
    font-style: italic;
    color: coral;
}