body{
    height: 83.5vh;
}
#footer{
    position: absolute;
    bottom: 2px;
    text-align: center;
    width: 90%;
    left: 5%;
    right: 5%;
}
#Header{
    font-size:25px;
    padding: 15px;
    font-weight: 900;
    color: cornflowerblue;
    text-decoration: underline gray;
}
#dot{
    color: black;
}
#js{
    font-style: italic;
    color: coral;
}
#wrapper{
    height: 100%;
}
#editor{
    color: white;
    height: 100%;
    display: flex;
}
#editor>div:nth-child(1){
    flex-grow: 1;
}
#editor>div{
    padding: 5px 15px;
}
#editor>div:nth-child(2){
    min-width: 200px;
    border-left: 1px solid;
}